# Simple configuration for static HTML
stages:
  - deploy

pages:
  stage: deploy
  script:
    - mkdir public
    - cp -r * public/ 2>/dev/null || :
    - rm public/.gitlab-ci.yml 2>/dev/null || :
  artifacts:
    paths:
      - public
  only:
    - main